
<div class="container">
  <% if !@name.nil? %>
  <h2> Welcome <%= @name %> </h2>
    <% @secrets.in_groups_of(3, false) do |secrets| %>
      <div class="row">
      <% secrets.each do |secret| %>
        <div class="col-sm-12  col-md-4" id="indiv-secret">
          <h3><%= secret["title"] %></h3>
          <p><%= secret["comment"] %></p>
          <p> <em> Posted: <%= distance_of_time_in_words_to_now secret["created_at"] %> </em> </p>
        </div>
        <%end%>
      </div>
    <%end%>
  <%end%>
</div>
